.hero__devider
  margin: 40px 0 20px
  flex-shrink: 0
.hero__devider_stroke
  stroke-dasharray: 200
  stroke-dashoffset: 200
  animation: stroke-in 2s ease-in-out forwards

.hero__devider_burst
  opacity: 0
  transform-origin: center
  transform: scale(0.9)
  animation: burst-in 500ms cubic-bezier(0.165, 0.84, 0.44, 1) forwards 1.4s