/**
 * `Venue` page component
 */
.page__venue
  .content
    z-index: $z-page-content
    position: relative
    padding: 40px 0 80px
    text-align: center
    height: 100%
    overflow-y: scroll
    -webkit-overflow-scrolling: touch
    @media screen and (max-width: 567px)
      padding: 40px 0 120px
    img.title
      width: 146px
      margin-bottom: 20px
      @media screen and (max-width: 321px)
        width: 100px
    .info
      margin: 0 auto
      max-width: $copy-max-width
      display: flex
      @media screen and (max-width: 567px)
        width: 100%
        flex-direction: column
      address
        flex-shrink: 0
        text-align: right
        display: block
        font-style: normal
        padding: 25px 25px 30px 25px
        @media screen and (max-width: 567px)
          background-color: $color-offwhite
          padding: 0 0 30px 0
          text-align: center
      .copy
        padding: 25px
        background: linear-gradient(to top, rgba(245, 244, 241, 0) 0%, rgba(245, 244, 241, 1) 30%, rgba(245, 244, 241, 1) 100%)
        @media screen and (max-width: 567px)
          background: linear-gradient(to top, rgba(245, 244, 241, 0) 0%, rgba(245, 244, 241, 1) 40%, rgba(245, 244, 241, 1) 100%)
        p
          font-size: 16px
          line-height: 26px;
          text-align: left
          @media screen and (max-width: 567px)
            font-size: 14px
        p:not(:first-child)
          margin: 20px 0 10px
  .artwork
    .front
      backface-visibility: hidden
      position: absolute
      bottom: 0
      left: 0
      width: 800px
      min-width: 500px
      z-index: $z-art-lvl4
      transfrom: translate3d(0)
      transition: all 0.3s ease-out
    .castle
      backface-visibility: hidden
      position: absolute
      bottom: 0
      left: 0
      width: 800px
      min-width: 500px
      z-index: $z-art-lvl3
      transfrom: translate3d(0)
      transition: all 0.3s ease-out
    .middle
      backface-visibility: hidden
      position: absolute
      bottom: 0
      left: 0
      width: 800px
      min-width: 500px
      z-index: $z-art-lvl2
      transfrom: translate3d(0)
      transition: all 0.3s ease-out
    .back
      backface-visibility: hidden
      position: absolute
      bottom: 0
      left: 0
      width: 800px
      min-width: 500px
      z-index: $z-art-lvl1
      transfrom: translate3d(0)
      transition: all 0.3s ease-out
